body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

.one3media-header title {
  text-align: center;
}

title {
  font-size: larger;
}

ul {
  background: grey;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.one3media-header a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center
}

.one3media-header li {
  float: left;
  list-style-type: none;
}

.one3media-header a:link {
  text-decoration: none;
}

.one3media-header a:hover {
  text-decoration: none;
  background-color: rgb(58, 58, 58);
  padding: 30;
  margin: 30;
}

.one3media-header a:visited {
  text-decoration: none;
}

.one3media-header a:active {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
