body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

.one3media-header h1 {
  text-align: center;
}

.one3media-header h3 {
  text-align: center;
  text-decoration: underline;
}

.header-title {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.one3media-header a {
  color: black;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center
}

.one3media-header li {
  float: left;
  margin: auto;
  width: 400px;
  overflow: hidden;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

/* .one3media-header li:hover {
  background-color: rgb(252, 252, 252);
} */

.footer {
  background-color: grey;
  position: sticky;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
}

.main-content {
  flex-grow: 1;
}

/* .one3media-header a:link {
  text-decoration: none;
}

.one3media-header a:hover {
  text-decoration: none;
  background-color: rgb(58, 58, 58);
  padding: 30;
  margin: 30;
}

.one3media-header a:visited {
  text-decoration: none;
} */

.one3media-header a:active {
  background-color: rgba(158, 158, 158);
  text-decoration: underline;
} 